@import "tailwindcss";
@plugin "tailwindcss-animate";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #cc8f8f;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #919191;
  }
}

.dark {
  --color-purple-50: #FDAAAA;
  --color-purple-100: #FDAAAA;
  --color-purple-200: #FDAAAA;
  --color-purple-300: #FDAAAA;
  --color-purple-400: #FDAAAA;
  --color-purple-500: #FDAAAA;
  --color-purple-600: #FDAAAA;
  --color-purple-700: #FDAAAA;
  --color-purple-800: #FDAAAA;
  --color-purple-900: #FDAAAA;
  --color-purple-950: #FDAAAA;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}